<div class="bg-white">
  <div class="mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{ collection.title }}</h1>
    <p class="mt-4 max-w-xl text-sm text-gray-700">
      {{ collection.description }}
    </p>
  </div>
</div>

<section aria-labelledby="filter-heading">
  <h2 id="filter-heading" class="sr-only">Filters</h2>

  <div class="border-b border-gray-200 bg-white pb-4">
    <div class="mx-auto flex max-w-7xl items-center justify-between px-4 sm:px-6 lg:px-8">
      <div
        x-data="Components.menu({ open: false })"
        x-init="init()"
        @keydown.escape.stop="open = false; focusButton()"
        @click.away="onClickAway($event)"
        class="relative inline-block text-left"
      >
        <div>
          <button
            type="button"
            class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
            id="menu-button"
            x-ref="button"
            @click="onButtonClick()"
            @keyup.space.prevent="onButtonEnter()"
            @keydown.enter.prevent="onButtonEnter()"
            aria-expanded="false"
            aria-haspopup="true"
            x-bind:aria-expanded="open.toString()"
            @keydown.arrow-up.prevent="onArrowUp()"
            @keydown.arrow-down.prevent="onArrowDown()"
          >
            Sort
            <svg
              class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>

        <div
          x-show="open"
          x-transition:enter="transition ease-out duration-100"
          x-transition:enter-start="transform opacity-0 scale-95"
          x-transition:enter-end="transform opacity-100 scale-100"
          x-transition:leave="transition ease-in duration-75"
          x-transition:leave-start="transform opacity-100 scale-100"
          x-transition:leave-end="transform opacity-0 scale-95"
          class="absolute left-0 z-10 mt-2 w-40 origin-top-left rounded-md bg-white shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none"
          x-ref="menu-items"
          x-description="Dropdown menu, show/hide based on menu state."
          x-bind:aria-activedescendant="activeDescendant"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="menu-button"
          tabindex="-1"
          @keydown.arrow-up.prevent="onArrowUp()"
          @keydown.arrow-down.prevent="onArrowDown()"
          @keydown.tab="open = false"
          @keydown.enter.prevent="open = false; focusButton()"
          @keyup.space.prevent="open = false; focusButton()"
          style="display: none;"
        >
          <div class="py-1" role="none">
            <a
              href="#"
              class="font-medium text-gray-900 block px-4 py-2 text-sm"
              x-state:on="Active"
              x-state:off="Not Active"
              x-state:on:option.current="Selected"
              x-state:off:option.current="Not Selected"
              x-state-description="Selected: &quot;font-medium text-gray-900&quot;, Not Selected: &quot;text-gray-500&quot;"
              :class="{ 'bg-gray-100': activeIndex === 0 }"
              role="menuitem"
              tabindex="-1"
              id="menu-item-0"
              @mouseenter="onMouseEnter($event)"
              @mousemove="onMouseMove($event, 0)"
              @mouseleave="onMouseLeave($event)"
              @click="open = false; focusButton()"
              >Most Popular</a
            >

            <a
              href="#"
              class="text-gray-500 block px-4 py-2 text-sm"
              x-state-description="undefined: &quot;font-medium text-gray-900&quot;, undefined: &quot;text-gray-500&quot;"
              :class="{ 'bg-gray-100': activeIndex === 1 }"
              role="menuitem"
              tabindex="-1"
              id="menu-item-1"
              @mouseenter="onMouseEnter($event)"
              @mousemove="onMouseMove($event, 1)"
              @mouseleave="onMouseLeave($event)"
              @click="open = false; focusButton()"
              >Best Rating</a
            >

            <a
              href="#"
              class="text-gray-500 block px-4 py-2 text-sm"
              x-state-description="undefined: &quot;font-medium text-gray-900&quot;, undefined: &quot;text-gray-500&quot;"
              :class="{ 'bg-gray-100': activeIndex === 2 }"
              role="menuitem"
              tabindex="-1"
              id="menu-item-2"
              @mouseenter="onMouseEnter($event)"
              @mousemove="onMouseMove($event, 2)"
              @mouseleave="onMouseLeave($event)"
              @click="open = false; focusButton()"
              >Newest</a
            >

            <a
              href="#"
              class="text-gray-500 block px-4 py-2 text-sm"
              x-state-description="undefined: &quot;font-medium text-gray-900&quot;, undefined: &quot;text-gray-500&quot;"
              :class="{ 'bg-gray-100': activeIndex === 3 }"
              role="menuitem"
              tabindex="-1"
              id="menu-item-3"
              @mouseenter="onMouseEnter($event)"
              @mousemove="onMouseMove($event, 3)"
              @mouseleave="onMouseLeave($event)"
              @click="open = false; focusButton()"
              >Price: Low to High</a
            >

            <a
              href="#"
              class="text-gray-500 block px-4 py-2 text-sm"
              x-state-description="undefined: &quot;font-medium text-gray-900&quot;, undefined: &quot;text-gray-500&quot;"
              :class="{ 'bg-gray-100': activeIndex === 4 }"
              role="menuitem"
              tabindex="-1"
              id="menu-item-4"
              @mouseenter="onMouseEnter($event)"
              @mousemove="onMouseMove($event, 4)"
              @mouseleave="onMouseLeave($event)"
              @click="open = false; focusButton()"
              >Price: High to Low</a
            >
          </div>
        </div>
      </div>

      <button
        type="button"
        x-description="Mobile filter dialog toggle, controls the 'mobileFiltersOpen' state."
        class="inline-block text-sm font-medium text-gray-700 hover:text-gray-900 sm:hidden"
        @click="open = true"
      >
        Filters
      </button>

      <div class="hidden sm:block">
        <div class="flow-root">
          <div
            class="-mx-4 flex items-center divide-x divide-gray-200"
            x-data="Components.popoverGroup()"
            x-init="init()"
          >
            <div
              class="relative inline-block px-4 text-left"
              x-data="Components.popover({ open: false, focus: false })"
              x-init="init()"
              @keydown.escape="onEscape"
              @close-popover-group.window="onClosePopoverGroup"
            >
              <button
                type="button"
                class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
                @click="toggle"
                @mousedown="if (open) $event.preventDefault()"
                aria-expanded="false"
                :aria-expanded="open.toString()"
              >
                <span>Category</span>

                <span class="ml-1.5 rounded bg-gray-200 py-0.5 px-1.5 text-xs font-semibold tabular-nums text-gray-700"
                  >1</span
                >
                <svg
                  class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
                </svg>
              </button>

              <div
                x-show="open"
                x-transition:enter="transition ease-out duration-100"
                x-transition:enter-start="transform opacity-0 scale-95"
                x-transition:enter-end="transform opacity-100 scale-100"
                x-transition:leave="transition ease-in duration-75"
                x-transition:leave-start="transform opacity-100 scale-100"
                x-transition:leave-end="transform opacity-0 scale-95"
                class="absolute right-0 z-10 mt-2 origin-top-right rounded-md bg-white p-4 shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none"
                x-description="'Category' dropdown, show/hide based on dropdown state."
                x-ref="panel"
                @click.away="open = false"
                style="display: none;"
              >
                <form class="space-y-4">
                  <div class="flex items-center">
                    <input
                      id="filter-category-0"
                      name="category[]"
                      value="new-arrivals"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-category-0" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >All New Arrivals</label
                    >
                  </div>

                  <div class="flex items-center">
                    <input
                      id="filter-category-1"
                      name="category[]"
                      value="tees"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-category-1" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >Tees</label
                    >
                  </div>

                  <div class="flex items-center">
                    <input
                      id="filter-category-2"
                      name="category[]"
                      value="objects"
                      type="checkbox"
                      checked=""
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-category-2" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >Objects</label
                    >
                  </div>

                  <div class="flex items-center">
                    <input
                      id="filter-category-3"
                      name="category[]"
                      value="sweatshirts"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-category-3" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >Sweatshirts</label
                    >
                  </div>

                  <div class="flex items-center">
                    <input
                      id="filter-category-4"
                      name="category[]"
                      value="pants-shorts"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-category-4" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >Pants &amp; Shorts</label
                    >
                  </div>
                </form>
              </div>
            </div>

            <div
              class="relative inline-block px-4 text-left"
              x-data="Components.popover({ open: false, focus: false })"
              x-init="init()"
              @keydown.escape="onEscape"
              @close-popover-group.window="onClosePopoverGroup"
            >
              <button
                type="button"
                class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
                @click="toggle"
                @mousedown="if (open) $event.preventDefault()"
                aria-expanded="false"
                :aria-expanded="open.toString()"
              >
                <span>Color</span>
                <svg
                  class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
                </svg>
              </button>

              <div
                x-show="open"
                x-transition:enter="transition ease-out duration-100"
                x-transition:enter-start="transform opacity-0 scale-95"
                x-transition:enter-end="transform opacity-100 scale-100"
                x-transition:leave="transition ease-in duration-75"
                x-transition:leave-start="transform opacity-100 scale-100"
                x-transition:leave-end="transform opacity-0 scale-95"
                class="absolute right-0 z-10 mt-2 origin-top-right rounded-md bg-white p-4 shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none"
                x-description="'Color' dropdown, show/hide based on dropdown state."
                x-ref="panel"
                @click.away="open = false"
                style="display: none;"
              >
                <form class="space-y-4">
                  <div class="flex items-center">
                    <input
                      id="filter-color-0"
                      name="color[]"
                      value="white"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-color-0" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >White</label
                    >
                  </div>

                  <div class="flex items-center">
                    <input
                      id="filter-color-1"
                      name="color[]"
                      value="beige"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-color-1" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >Beige</label
                    >
                  </div>

                  <div class="flex items-center">
                    <input
                      id="filter-color-2"
                      name="color[]"
                      value="blue"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-color-2" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >Blue</label
                    >
                  </div>

                  <div class="flex items-center">
                    <input
                      id="filter-color-3"
                      name="color[]"
                      value="brown"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-color-3" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >Brown</label
                    >
                  </div>

                  <div class="flex items-center">
                    <input
                      id="filter-color-4"
                      name="color[]"
                      value="green"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-color-4" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >Green</label
                    >
                  </div>

                  <div class="flex items-center">
                    <input
                      id="filter-color-5"
                      name="color[]"
                      value="purple"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-color-5" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >Purple</label
                    >
                  </div>
                </form>
              </div>
            </div>

            <div
              class="relative inline-block px-4 text-left"
              x-data="Components.popover({ open: false, focus: false })"
              x-init="init()"
              @keydown.escape="onEscape"
              @close-popover-group.window="onClosePopoverGroup"
            >
              <button
                type="button"
                class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
                @click="toggle"
                @mousedown="if (open) $event.preventDefault()"
                aria-expanded="false"
                :aria-expanded="open.toString()"
              >
                <span>Sizes</span>
                <svg
                  class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
                </svg>
              </button>

              <div
                x-show="open"
                x-transition:enter="transition ease-out duration-100"
                x-transition:enter-start="transform opacity-0 scale-95"
                x-transition:enter-end="transform opacity-100 scale-100"
                x-transition:leave="transition ease-in duration-75"
                x-transition:leave-start="transform opacity-100 scale-100"
                x-transition:leave-end="transform opacity-0 scale-95"
                class="absolute right-0 z-10 mt-2 origin-top-right rounded-md bg-white p-4 shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none"
                x-description="'Sizes' dropdown, show/hide based on dropdown state."
                x-ref="panel"
                @click.away="open = false"
                style="display: none;"
              >
                <form class="space-y-4">
                  <div class="flex items-center">
                    <input
                      id="filter-sizes-0"
                      name="sizes[]"
                      value="xs"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-sizes-0" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >XS</label
                    >
                  </div>

                  <div class="flex items-center">
                    <input
                      id="filter-sizes-1"
                      name="sizes[]"
                      value="s"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-sizes-1" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >S</label
                    >
                  </div>

                  <div class="flex items-center">
                    <input
                      id="filter-sizes-2"
                      name="sizes[]"
                      value="m"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-sizes-2" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >M</label
                    >
                  </div>

                  <div class="flex items-center">
                    <input
                      id="filter-sizes-3"
                      name="sizes[]"
                      value="l"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-sizes-3" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >L</label
                    >
                  </div>

                  <div class="flex items-center">
                    <input
                      id="filter-sizes-4"
                      name="sizes[]"
                      value="xl"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-sizes-4" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >XL</label
                    >
                  </div>

                  <div class="flex items-center">
                    <input
                      id="filter-sizes-5"
                      name="sizes[]"
                      value="2xl"
                      type="checkbox"
                      class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                    >
                    <label for="filter-sizes-5" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900"
                      >2XL</label
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-gray-100">
  <div class="mx-auto max-w-7xl py-3 px-4 sm:flex sm:items-center sm:px-6 lg:px-8">
    <h3 class="text-sm font-medium text-gray-500">
      Filters
      <span class="sr-only">, active</span>
    </h3>

    <div aria-hidden="true" class="hidden h-5 w-px bg-gray-300 sm:ml-4 sm:block"></div>

    <div class="mt-2 sm:mt-0 sm:ml-4">
      <div class="-m-1 flex flex-wrap items-center">
        <span class="m-1 inline-flex items-center rounded-full border border-gray-200 bg-white py-1.5 pl-3 pr-2 text-sm font-medium text-gray-900">
          <span>Objects</span>
          <button
            type="button"
            class="ml-1 inline-flex h-4 w-4 flex-shrink-0 rounded-full p-1 text-gray-400 hover:bg-gray-200 hover:text-gray-500"
          >
            <span class="sr-only">Remove filter for Objects</span>
            <svg class="h-2 w-2" stroke="currentColor" fill="none" viewBox="0 0 8 8">
              <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7"></path>
            </svg>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Product Grid -->
<section
  aria-labelledby="products-heading"
  class="mx-auto max-w-2xl px-4 pt-12 pb-16 sm:px-6 sm:pt-16 sm:pb-24 lg:max-w-7xl lg:px-8"
>
  <h2 id="products-heading" class="sr-only">{{ collection.title }}</h2>

  <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
    {% paginate collection.products by section.settings.number_of_products_per_page %}
      {% for product in collection.products %}
        <a href="{{ product.url }}" class="group">
          <div class="relative aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
            {% if product.featured_image %}
              <div class="aspect-w-1 aspect-h-1 overflow-hidden rounded-lg">
                <img
                  src="{{ product.featured_image | img_url: 'large' }}"
                  alt="{{ product.featured_image.alt }}"
                  class="h-full w-full object-cover object-center group-hover:opacity-75"
                >
              </div>
            {% else %}
              {{ 'product-2' | placeholder_svg_tag: 'h-full w-full object-cover object-center group-hover:opacity-75' }}
            {% endif %}
          </div>
          <h3 class="mt-4 text-sm text-gray-700">{{ product.title }}</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">
            {{ product.price | money -}}
            <span>
              {% if product.price > 500000 %}
                {% render 'icon-free-shipping-mini' %}
              {% endif -%}
            </span>
          </p>
        </a>
      {% else %}
        <p>There are no products inside of this collection</p>
      {% endfor %}
    {% endpaginate %}
  </div>
</section>
<!-- Product Grid -->

{% schema %}
{
  "name": "コレクション（商品一覧）",
  "settings": [
    {
      "type": "text",
      "id": "sec_title",
      "default": "All Products",
      "label": "コレクションタイトル"
    },
    {
      "type": "text",
      "id": "sec_desc",
      "default": "Our thoughtfully designed workspace objects are crafted in limited runs. Improve your productivity and organization with these sale items before we run out.",
      "label": "説明文章"
    },
    {
      "type": "number",
      "id": "number_of_products_per_page",
      "default": 6,
      "label": "Number of products per page"
    }
  ]
}
{% endschema %}
