<section id="collection-list" aria-labelledby="collections-heading" class="bg-gray-100">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
      <h2 id="collections-heading" class="text-2xl font-bold text-gray-900">{{ section.settings.sec_ttl }}</h2>

      <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        {% for collection in collections limit: section.settings.number_of_collections_to_show %}
          <div class="group relative mb-12">
            {% if collection.all_products_count > 0 %}
              <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                <img
                  src="{{ collection.image | img_url: 'large' }}"
                  alt="{{ collection.title | escape }}"
                  class="h-full w-full object-cover object-center"
                >
              </div>
            {% endif %}
            <h3 class="mt-6 text-sm text-gray-500">
              <a href="{{ collection.url }}">
                <span class="absolute inset-0"></span>
                {{ collection.description }}
              </a>
            </h3>
            <p class="text-base font-semibold text-gray-900">{{ collection.title }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "コレクション一覧",
  "settings": [
    {
      "type": "text",
      "id": "sec_ttl",
      "default": "Collections",
      "label": "タイトル"
    },
    {
      "type": "range",
      "id": "number_of_collections_to_show",
      "min": 1,
      "max": 12,
      "default": 4,
      "label": "コレクションの表示数"
    }
  ]
}
{% endschema %}
