<div class="relative overflow-hidden">
  <div aria-hidden="true" class="absolute inset-0">
    <div class="absolute inset-0 mx-auto max-w-7xl overflow-hidden xl:px-8">
      <img
        src="{{ section.settings.bg_img | img_url: 'large'}}"
        alt=""
        class="h-full w-full object-cover object-center"
      >
    </div>
    <div class="absolute inset-0 bg-white bg-opacity-75"></div>
    <div class="absolute inset-0 bg-gradient-to-t from-white via-white"></div>
  </div>
  <section
    aria-labelledby="sale-heading"
    class="relative mx-auto flex max-w-7xl flex-col items-center px-4 pt-32 text-center sm:px-6 lg:px-8"
  >
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <h2 id="sale-heading" class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">
        {{ section.settings.heading }}
      </h2>
      <p class="mx-auto mt-4 max-w-xl text-xl text-gray-600">
        {{ section.settings.sec_desc }}
      </p>
      <a
        href="{{ section.settings.btn_url}}"
        class="mt-6 inline-block w-full rounded-md border border-transparent bg-gray-900 py-3 px-8 font-medium text-white hover:bg-gray-800 sm:w-auto"
      >
        {{ section.settings.btn_text }}
      </a>
    </div>
  </section>
</div>
{% schema %}
{
  "name": "プロモーションセクション",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Get 25% off during our one-time sale",
      "label": "見出し"
    },
    {
      "type": "text",
      "id": "sec_desc",
      "default": "Most of our products are limited releases that won't come back. Get your favorite items while they're in stock.",
      "label": "説明文章"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "背景画像"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "ボタンリンクURL"
    },
    {
      "type": "text",
      "id": "btn_text",
      "default": "Get access to our one-time sale",
      "label": "ボタンテキスト"
    }
  ]
}
{% endschema %}
